/.idea/*
/14.0/.idea/*
/14.0/src/Infinispan.v14.Consumer/obj/*
/14.0/src/Infinispan.v14.Consumer/bin/*
/14.0/src/Infinispan.v14.Producer/obj/*
/14.0/src/Infinispan.v14.Producer/bin/*
/14.0/src/Infinispan.v14.Monitor/obj/*
/14.0/src/Infinispan.v14.Monitor/bin/*
/14.0/src/Infinispan.v14.Shared/obj/*
/14.0/src/Infinispan.v14.Shared/bin/*